body {
  background-color: gray;
  font-family: 'Mochiy Pop One', sans-serif;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  color: white;
  background-color: red;
  padding: 10px 10px;
  margin: 5px 40px;
  width: 500px;
  text-align: center;
  border: 2px solid black;
  box-sizing: border-box;
}

div {
  background-color: lightgray;
  padding: 0px 0px;
  margin: 10px 40px;
  width: 580px;
  border: 2px solid black;
  display:flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

button {
  background-color: white;
  padding: 5px 5px;
  margin: 2px 0px;
  border: none;
  width: 500px;
  box-sizing: border-box;
}

button:hover {
  background-color: red;
  color: white;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
